/*
$red: red;

h4:focus{
  color: $red;
}
*/
/*.text-color:hover {
  color: #00ff00;
}*/

.text-color {
  color: #ffffff;
}

.list-group-item:hover {
  border: 2px solid black;
  margin: 1px;
  color: #4f55ff;
  background: #acd9ff;
}

.label-primary{
  color:white;
}

